<h1>Short-list of potential names</h1>

<p>
  This is a list of all the single-word domains that
  are available at the moment. If you don't like a name, click <b>remove</b>.
</p>

<table id="flagged_words">

  <%= render flagged_words %>
</table>

<hr>

<table id="words">
  <%= render words %>
</table>

<%= paginate(words) %>
